@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700;800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .glassmorphism {
        @apply bg-gray-500 bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10
    }

    .parent-class {
        @apply flex justify-center relative z-10
    }

    .child-class {
        @apply flex gap-6 w-2/5 my-7 p-2
    }

    .section {
        @apply p-3 m-2 w-2/5
    }

    .button-main {
        @apply font-semibold px-4 py-2 m-3 rounded-lg bg-main-orange
    }
}

body,
html {
    font-family: "Teachers", sans-serif;
    font-optical-sizing: auto;
    background-color: #252422;
    color: #fffcf2;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.circle {
    position: absolute;
    background-color: whitesmoke;
    border-radius: 50%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.blink-1 {
    animation-name: blink10;
}

.blink-2 {
    animation-name: blink20;
}

.blink-3 {
    animation-name: blink30;
}

.blink-4 {
    animation-name: blink40;
}

.blink-5 {
    animation-name: blink50;
}

@keyframes blink10 {

    0%,
    100% {
        background-color: whitesmoke;
    }

    20% {
        background-color: transparent;
    }
}

@keyframes blink20 {

    0%,
    100% {
        background-color: transparent;
    }

    40% {
        background-color: whitesmoke;
    }
}

@keyframes blink50 {

    0%,
    100% {
        background-color: whitesmoke;
    }

    50% {
        background-color: transparent;
    }
}

@keyframes blink30 {

    0%,
    100% {
        background-color: whitesmoke;
    }

    60% {
        background-color: transparent;
    }
}

@keyframes blink40 {

    0%,
    100% {
        background-color: transparent;
    }

    80% {
        background-color: whitesmoke;
    }
}